.flex {
  display: flex;
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
}

.flex__item {
  flex-basis: 50%;
  text-align: center;
}

@media (max-width: 767px) {
    .flex {
        flex-wrap: wrap;
    }
    
    .flex__item {
        flex-basis: 100%;
    }
}